<!doctype html>
<html>
<head>
    <title>Global Location Marketing Solutions</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:20px; }
        h1           {text-align: center; font-weight: bold; line-height:1;}
        #logo        {display: block;text-align:center;line-height:1;}
    </style>
</head>
<body>
<div class="container"><span id="logo" class="fa fa-globe fa-4x"></span>
 <h1> Global Location Marketing Solutions</h1>
    <div class="jumbotron text-center">
        <h2><span class="fa fa-globe"></span>  Customers: Marketing Solutions</h2>

        <p> <span class="fa fa-lock"> Login or Register with:</span></p> 

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
     <div class="jumbotron text-center">
        <h2><span class="fa fa-globe"></span> Entrepreneurs:<span> Marketing Solutions</span> </h2>

        <p> <span class="fa fa-lock"> Login or Register with:</span></p> 

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    <div class="text-center">
        <p>A demo by T. Nikolas</a>.</p>
        <p>Visit the <a href="#">GLMS</a>®</p>
    </div>

</div>
</body>
</html>
